/*yleinen muotoilu*/
#full-height-container {
      background-color:#fff !important;
}
body {
      background-color:#fff;
}
#signup-link {  
      display:none;  
}
.aui-header .aui-quicksearch input {
      width:238px;
}
/*murupolku ja sivun metadata*/
#breadcrumb-section {
     text-transform:uppercase;
}
#title-text {
      display:none;
}
.spacetools #title-text {
      display:inline;
}
.spacetools.with-space-sidebar #main-header {
      background-color: #fff;
}
.page-metadata {
      display:none;
}
#main-header {
      padding-bottom:10px;
}
/*vasemman reunan muotoilua*/
#hy_plain-scrollable-sidebar {
      overflow-y: auto;
      height: -webkit-calc(100% - 41px);
      height: -moz-calc(100% - 41px);
      height: calc(100% - 41px);
}
#hy_plain-leftNav {
     overflow: hidden;
     font-family: Gotham Narrow, Roboto, Arial, sans-serif;
     margin-top: 18px;
}
#hy_plain-leftNav ul {
      list-style: none;
      padding: 0px 5px 5px 20px;
      margin-left: 20px;
      display: block;
      border-left: 1px solid #eaeaea;
}
#hy_plain-leftNav li {
      line-height:1.25em;
      height: 22px;
      padding-top:20px;
}
#hy_plain-leftNav a {
      font-family: 'Gotham Narrow A','Gotham Narrow B',Helvetica,Arial,sans-serif,Nimbus Sans L;
      font-weight: 400;
      font-style: normal;
      font-size: 0.938em;
      color: #797979 !important;
      text-transform: none;
      display: block;
}
#hy_plain-leftNav a:hover {
      color: #015a82 !important;      
}
.expand-collapse-trigger {
      display: none !important;
}
.acs-side-bar .acs-side-bar-space-info .name {
      display: none !important;
}
.acs-side-bar .acs-side-bar-space-info .avatar {
      display: none !important;
}
/* .acs-side-bar .acs-side-bar-space-info .name {
      padding:0 0 0 20px !important;
} */
.ia-splitter-handle {
      display: none !important;
}
.ai-fixed-sidebar {
      top: auto !important;
      background-color:#fff !important;
}
.acs-side-bar {
      position: relative !important;
      background-color:#fff !important;
}
/*hy:n kustom banneri*/
#hy_plain-banner {
      overflow: hidden;
      width:100%;
      height:150px;
      margin:0;
      padding:0;
      border-bottom: #1a1a1a 1px solid;
}
#com-atlassian-confluence.contenteditor.edit #hy_plain-banner {
    display: none;
}
#com-atlassian-confluence.contenteditor.create #hy_plain-banner {
    display: none;
}
#hy_plain-banner .hy_plain-logo {
      width:auto;
      height:130px;
      float:left;
      margin:20px; /*logon suoja-alue*/
}
#hy_plain-topNav {
      width:auto;
      height:auto;
      float:right;
      margin: 10px 20px 10px 10px;
      text-align: right;
      font-family: Gotham Narrow, Roboto, Arial, sans-serif;
}
#hy_plain-topNav ul {
      list-style:none;      
}
#hy_plain-topNav strong {
      font-family: Gotham Narrow, Roboto, Arial, sans-serif;
      text-transform:uppercase;
      font-size:2.0em;
      color: #4d4d4d;
}
#hy_plain-topNav p {
      font-family: Gotham Narrow, Roboto, Arial, sans-serif;
}
/*hy_n surunauha*/
#com-atlassian-confluence.contenteditor.edit #hy_plain-topBar {
    display: none;
}
#com-atlassian-confluence.contenteditor.create #hy_plain-topBar {
    display: none;
}
#hy_plain-topBar {
      width:100%;
      height:60px;
      background-color: #222222;
}
#hy_plain-topBar ul {
      list-style:none;
      overflow-x: hidden;
      padding-left: 20px;
}
#hy_plain-topBar li {
background: transparent url(/download/resources/fi.polarshift.confluence.hy-plain-theme:hy-plain-theme-resources/images/clipart_menu_border.jpg) no-repeat 0px 13px !important; 
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0px 30px 0px 30px;
      height:60px;
}
#hy_plain-topBar a {
      display:block;
      width:auto;
      text-transform: uppercase;
      color: #fff !important;
      font-weight: bold;
      font-size: 1.1em;
}
/*footerin asemointi ja sivun alareuna*/
#footer {
      width: auto;
      background-color:#fff;
}
#likes-and-labels-container {
     display: none;
}
#labels-section {
      display: none;
}
/*sisällön muotoilua*/
#wysiwyg {
     font-family: Georgia, serif;
}
/* 
.aui-message.hint {
      background: #fcfcfc;
      border-color: #aab8c6;
}
.aui-message.problem {
      background: #fff8f7;
      border-color: #d04437;
}
.aui-message.success {
      background: #f3f9f4;
      border-color: #91c89c;
}
.aui-message.warning {
      background: #fffdf6;
      border-color: #fffeaae;
}
*/
blockquote {
      color: #979797;
}
/* kommentoin sivun leveysrajoituksen kokonaan pois, oli alunperin 850px
#content.view {
      max-width:1250px;
}
*/
.wiki-content,
.wiki-content p,
.wiki-content table,
.wiki-content tr,
.wiki-content td,
.wiki-content th,
.wiki-content ol,
.wiki-content ul,
.wiki-content li {
      font-family: Georgia, serif;
      color: #606060;
}
.wiki-content h1 {
      font-family: Gotham Narrow, Roboto, Arial, sans-serif;
      text-transform:uppercase;
}
.wiki-content h1,.wiki-content h2,.wiki-content h3, .wiki-content h4, .wiki-content h5, .wiki-content h6 {
      color: #4d4d4d;
}
/*linkit kommentoitu kaikki pois
.aui-theme-default a {
      color: #0097cd !important;
}
.aui-theme-default a:visited {
      color: #0097cd !important;
      text-decoration:none !important;
}
.aui-theme-default a:hover {
      color: #005a7a !important;
      text-decoration:none !important;
}
.createlink, a.createlink, a.createlink:link, a.createlink:visited, a.createlink:active, a.createlink:hover {
      color: #005a7a !important;
      text-decoration:none !important;
}
.unresolved, a.unresolved, a.unresolved:link, a.unresolved:visited, a.unresolved:active, a.unresolved:hover {
      color: #005a7a !important;
      text-decoration:line-through !important;
}
/*
.aui-header .aui-dropdown2-trigger, #header .aui-header .aui-nav-link, #header .aui-header .aui-nav-imagelink, #header .aui-header a {
      color: #fff !important;
}
*/
*/
.aui-header .aui-dropdown2-trigger, #header .aui-header .aui-nav-link, #header .aui-header .aui-nav-imagelink {
      color: #fff !important;
}
.content-navigation.view .ajs-menu-bar li.ajs-menu-item a, .content-navigation.view .ajs-menu-bar li.ajs-button a, .content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item a, .content-navigation.pages-collector .ajs-menu-bar li.ajs-button a, .content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item a, .content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a, .content-navigation.view-attachments .ajs-menu-bar li.ajs-menu-item a, .content-navigation.view-attachments .ajs-menu-bar li.ajs-button a, .content-navigation.view-attachment .ajs-menu-bar li.ajs-menu-item a, .content-navigation.view-attachment .ajs-menu-bar li.ajs-button a, .content-navigation.view-information .ajs-menu-bar li.ajs-menu-item a, .content-navigation.view-information .ajs-menu-bar li.ajs-button a {
      color: #707070 !important;
}
.aui-button.aui-button-subtle {
      color:#707070 !important;
}
